* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 13px;
}

a {
  color: black;
}

ul {
  list-style: none;
}

form {
  max-width: 640px;
  margin: auto;
  border: 1px solid #cdcdcd;
  padding: 20px;
  margin-top: 40px;
  background-color: #e6e6e6;
  box-shadow: 0 0 10px #d8d8d8;
}

.row {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 20px;
}

.row:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.col {
  width: 100%;
  padding: 0 10px;
}

.d-block {
  display: block;
}

.mb-10 {
  margin-bottom: 10px;
}

.tittle-block {
  font-size: 16px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  padding: 16px 10px;
  border-radius: 8px;
  border: 0;
  border: 1px solid #cdcdcd;
  width: 100%;
}

textarea {
  min-height: 140px;
  resize: none;
  font-family: Arial;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid,
input[type="number"]:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  border-color: red;
}

form button {
  background-color: green;
  padding: 20px 20px;
  border: 0;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 40px 0;
  max-width: 960px;
  margin: auto;
}

.card {
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  position: relative;
  padding: 20px;
  transition: box-shadow 0.5s ease;
}

.card:hover {
  box-shadow: 0 0 10px #cdcdcd;
}

.card li {
  margin-bottom: 20px;
}

.card li:last-child {
  margin-bottom: 0;
}

.card button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.card img {
  width: 100%;
}
